* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
    color: #ffffff;
}

header p {
    font-size: 18px;
    color: #ffffff;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 24px;
    color: #610303;
    border-bottom: 2px solid #ebcbcb;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.study, .job, .skills, .contact {
    margin-bottom: 10px;
}

.study p, .job p, .skills ul, .contact p {
    font-size: 16px;
    color: #290303;
}

.skills ul {
    list-style-type: none;
    padding-left: 20px;
}

.skills li {
    font-size: 16px;
    color: #290303;
    margin-bottom: 5px;
}

/* Encabezado centrado */
.cv-header {
    text-align: center;
    padding: 40px 20px;
    background: #610303;
    color: #fff;
  }
   
  .cv-header .profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    margin-bottom: 20px;
  }
   
  .cv-header h1 {
    margin: 10px 0 5px;
    font-size: 2.5em;
  }
   
  .cv-header h2 {
    margin: 5px 0 20px;
    font-weight: 400;
    color: #d9f0ff;
  }
   
  .header-contact p {
    margin: 5px 0;
    font-size: 0.95em;
  }

  .experience h2 {
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .icon {
    font-size: 26px;
    margin-right: 10px;
  }
  
  .accordion-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .accordion-button {
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
  }
  
  .accordion-button .arrow {
    float: right;
    transition: transform 0.3s;
  }
  
  .accordion-button.active {
    background-color: #f3cece; /* azul claro */
    color: #610303;
    border: 2px solid #610303;
    border-radius: 4px;
  }
  
  .accordion-button.active .arrow {
    transform: rotate(180deg); /* flecha hacia arriba */
  }
  
  .accordion-content {
    display: none;
    padding: 10px 16px;
    font-size: 15px;
    color: #333;
  }
  
  .accordion-content.show {
    display: block;
  }